.Navbar_Glass {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  @media screen and (max-width: 767px) {
    .Navbar_Navlinks {
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(43, 55, 76, 0.49);
      width: calc(100vw - 5px);
    }
  }
  
  .Footer_Custom_li {
    list-style-type: '▷';
  }
  .Footer_Custom_li:hover {
    list-style-type: '▶';
    color: #ff0078;
    text-decoration: underline;
  }